@mixin viewer() {
  padding: 30px;
  padding-top: 0;

  box-sizing: border-box;

  font-family: 'Helvetica-Neue', 'Roboto', 'Arial', sans-serif;

  overflow-y: auto;

  h1 .id {
    color: #666;
    font-style: italic;
    font-weight: normal;

    font-size: 26px;
  }

  code {
    font-size: 13px;

    border-radius: 4px;
    background-color: #f3f3f3;

    padding: 15px;
  }
}
